.w3-article {
  width: 80%;
  margin: 0 auto;
  padding-top: 2em;
  padding-bottom: 2em;
}


/* w3-article block links -- download HTML/CSS */
.w3-article a, .w3-article a:visited {
  position: relative;
  display: inline-block;
  padding: 1px 10px 1px 10px;
  margin: -1px -10px -1px -6px;
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  border-radius: 1px;

  color: $text-color-11;
  font-family: $base-font-family;
  text-transform: uppercase;
}
.w3-article a:hover, .w3-article a:focus {
  z-index: 2;
  color: #fff;
  background: #3d8a9f;
  text-decoration: none;
}

/**.w3-article a::before {
  display: inline-block;
  position: absolute;
  top: 6px;
  left: 8px;
  padding: 2px;
  color: #a9b995;
  background: #d9e1cd;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -o-border-radius: 2px;

  content: "D";
  font-size: 16px;
  text-indent: 0;


  /* icomoon.io defaults
  font-family: 'verdemoderna';
  speak: none;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;

  -webkit-transition: all 0.25s ease-out;
  -moz-transition: all 0.25s ease-out;
  transition: all 0.25s ease-out;
}*/
.w3-article a:hover::before {
  color: #fff;
  background: #357d93;
}