/* base CSS */
* {
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
}

html, body {
  padding: 0;
  margin: 0;
}
body {
  color: $text-color-1;
  background: #fff;
  font-family: $base-font-family;
  font-size: 100%;
}

a {
  color: $text-color-7;
  -webkit-transition: all 0.25s ease-out;
  -moz-transition: all 0.25s ease-out;
  transition: all 0.25s ease-out;
  text-decoration: none;
}
a:visited {
  color: $text-color-8;
}
a:hover, a:focus {
  color: $text-color-9;
  text-decoration: underline;
}
abbr {
  border: none;
  text-transform: uppercase;
  font-size: 0.9em;
  letter-spacing: 0.01em;
}

h3 {
  margin: 2em 0 0 0;
  color: $text-color-5;
  font-family: 'Poiret One', cursive;
  font-size: 1.8em;
  font-weight: normal;
  text-transform: uppercase;
}
p {
  margin: 0.75em 0;
  line-height: 2;
}
