.site-header {
  height: 230px;
  background: $background-color-1 50% 0 url(images/flot-top1.jpg) no-repeat; /* old IE fallback */
  background-attachment: fixed, fixed, fixed, scroll;
  background-image: url(images/contours.png), url(images/noise.png), url(images/gridlines.png), url(images/flot-top1.jpg);
  background-position: 0 0, 0 0, -5px -25px, 0 50%;
  background-repeat: repeat, repeat, repeat, no-repeat;
  background-size: auto, auto, auto, cover;
  text-align: center;
  align-items: flex-end;
}

.site-title {
  & h1, & h2 {
    margin: 0;
    color: #fff;
    font-weight: normal;
  }
  & a{
    color: #fff;
    text-decoration: none;
  }
  & h1 {
    margin-top: -80px;
    padding-bottom: 5px;
    border-bottom: none;
    font-family: 'Poiret One', cursive;
    font-size: 2.6em;
    text-transform: lowercase;
    &:before {
      display: inline-block;
      position: relative;
      top: 64px;
      content: "";
      width: 120px;
      height: 120px;
      margin: 0px 12px 0 0;
      background: url(images/logo.svg);
      background-repeat: no-repeat;
      background-size: 100%;
      opacity: 0.6;
    }
  }
    & h2 {
      display: block;
      padding-top: 5px;
      padding-bottom: 30px;
      padding-left: 12px;
      border-top: none;
      color: rgba(255, 255, 255, 0.6);
      font-size: 1.2em;
      font-style: normal;
      &:before {
        content: " ";
        padding: 60px;
      }
    }
  }


.previous, .next {
  left: 0;
  z-index: 3;
}
.next {
  left: auto;
  right: 0;
}

.site-header {
  border-top: solid 10px #004d99;
}

/* archives navigation */
.header-widgets {
  /*position: absolute;
  top: 160px;
  right: 0;
  width: 100%;*/
  height: 70px;
  background: rgba(255, 255, 255, 0.2);
  h3 {
    display: none;
  }
  ul {
    margin: 0;
  }
  li {
    position: absolute;
    top: 0;
    padding: 0;
    margin: 0;
    border: none;
    list-style: none;
  }
  li.viewall {
    top: 0;
    left: 0;
    width: 100%;
    padding: 0 71px;
    line-height: 50px;
  }
  a {
    &:visited {
    }
    color: rgba(255, 255, 255, 0.65);
    &:hover, &:focus {
      color: #fff;
    }
    &:before {
      position: absolute;
      left: 0;
      width: 70px;
      height: 70px;
      text-align: center;
      text-indent: 0;
      font-size: 44px;
      font-family: 'verdemoderna';
      speak: none;
      font-weight: normal;
      font-variant: normal;
      text-transform: none;
      line-height: 70px;
      -webkit-font-smoothing: antialiased;
    }
  }
  & .previous a, & .next a {
    display: block;
    overflow: hidden;
    width: 70px;
    height: 70px;
    text-indent: 100%;
    text-decoration: none;
    white-space: nowrap;
  }
  & .viewall a {
    z-index: 2;
    width: 100%;
    min-height: 70px;
    padding: 12px 0 0 0;
    text-align: center;
  }
}
.header-widgets .viewall a:hover, .header-widgets .viewall a:focus, .header-widgets .viewall a:active,
.header-widgets a:hover::before, .header-widgets a:focus::before, .header-widgets a:active::before {
  background-color: rgba(255,255,255,0.25);
  box-shadow: inset 0 0 10px rgba(255,255,255,0.1);
}
.header-widgets .previous a::before {
  content: "<";
}
.header-widgets .next a::before {
  content: ">";
}

li.viewall a {
  display: block;
  margin-bottom: 0.25em;
  font-family: 'Poiret One', cursive;
  font-size: 1.2em;
  font-style: normal;
  text-transform: uppercase;
}

.submenu {
  display: none;
}