<footer>
  <a href="https://validator.w3.org/check?uri=https://www.flot.su" title="Проверка правильности разметки HTML" class="zen-validate-html">HTML</a>
  <a href="http://jigsaw.w3.org/css-validator/validator?uri=https://www.flot.su" title="Проверка каскадных стилей CSS" class="zen-validate-css">CSS</a>
  <a href="http://creativecommons.org/licenses/by-nc-sa/3.0/" title="Лицензия Creative Commons для этого сайта: Attribution-NonCommercial-ShareAlike." class="zen-license">CC</a>
</footer>
<img src="https://mc.yandex.ru/watch/46605105" style="position:absolute; left:-9999px;" alt="" />