<div class="footer-widgets">
<p role="contentinfo"><a href="http://europa.eu/rapid/press-release_SPEECH-13-249_en.htm">Александр |||</a>. Во всем свете у нас только два верных союзника — наша армия и флот. Все остальные, при первой возможности, сами ополчатся против нас.</p>
</div>