<head>
    <meta charset="utf-8">
    <title>{{ site.title }}</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="{{ site.author}}">
    <meta name="description" content="{{ site.description }}">
    <meta name="robots" content="all">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,300i&amp;subset=cyrillic" rel="stylesheet">
    <link rel="stylesheet" media="screen" href="{{ site.baseurl }}assets/design/normalize.css">
    <link rel="stylesheet" media="screen" href="{{ site.baseurl }}assets/design/grid.css">
    <link rel="stylesheet" media="screen" href="{{ site.baseurl }}assets/design/kaskad.css">

    <!-- For old IEs -->
    <link rel="shortcut icon" href="/favicon.ico" />

    <!-- For new browsers multisize ico  -->
    <link rel="icon" type="image/x-icon" sizes="16x16 32x32" href="/favicon.ico">

    <!-- Chrome for Android -->
    <link rel="icon" sizes="192x192" href="/favicon-192.png">

    <!-- For iPhone 6+ downscaled for other devices -->
    <link rel="apple-touch-icon" sizes="180x180" href="/favicon-180-precomposed.png">

    <!-- For IE10 Metro -->
    <meta name="msapplication-TileColor" content="#FFFFFF">
    <meta name="msapplication-TileImage" content="/favicon-144-precomposed.png">


    <!-- You should properly set the path from the main file. -->
</head>
