<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "ru" }}">

{% include head.html %}

<body>
<img src="https://mc.yandex.ru/watch/36749610" style="position:absolute; left:-9999px;" alt="" />


<div class="container-fluid">
    {% include header.html %}
    <div class="row">
        <div class="col-12 col-xl-4 padding-0" id="sidebar">
            {% include sidebar.html %}
        </div>
        <div class="col-12 col-xl-8 padding-0">
            <section class="w3-article">
                {% if page.post_title %}
                <h3>{{ page.post_title }}</h3>
                {%else if page.title %}
                <h3>{{ page.title }}</h3>
                {% endif %}
                {{ content }}
            </section>
        </div>

    </div>
</div>
{% include footer-widgets.html %}
{% include footer.html %}

</body>

</html>