<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "ru" }}">

{% include head.html %}

<body>
<img src="https://mc.yandex.ru/watch/36749610" style="position:absolute; left:-9999px;" alt="" />

    <div class="container-fluid">
        {% include header.html %}
    <div class="row">
        <div class="col-12 col-xl-4 padding-0" id="sidebar">
            {% include sidebar.html %}
        </div>
        <div class="col-12 col-xl-8 padding-0">
            <section class="w3-article">
                    {{ site.front-page | where:"front-page", "home-top" }}
            </section>
            <section class="promo-box">
                    {{ site.front-page | where:"front-page", "promo-box" }}
            </section>
            <section class="w3-article">
                {{ site.front-page | where:"front-page", "home-bottom" }}
            </section>
        </div>

    </div>
    </div>
    {% include footer-widgets.html %}
    {% include footer.html %}

</body>

</html>




